
@{
    ViewData["Title"] = "TreasuresOfEgypt";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    Game of Codes
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <canvas style="background-color: #343a40"></canvas>
                        </div>
                        <div class="col-md-4">
                            <label for="stake-input">Stake: </label>
                            <input id="stake-input" type="text" class="form-control" value="10" />
                            <button id="spin-button" class="btn btn-primary form-control">Spin</button>
                            @*<div class="row">
                                    <div class="col-md-6"><h6>Balance</h6></div>
                                    <div class="col-md-6"><h6>$ 1,000</h6></div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/game.js"></script>
}