<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
  <!-- <add key="Local Package Source" value="C:\Users\Robert\Desktop\LuckySlots\Packages" /> -->
  <!-- <add key="Local Package Source" value="\LuckySlots\Packages" /> -->
    <!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
  </packageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="robert.a@msn.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjpiBxyvPJUGlCPebQpk5rgAAAAACAAAAAAAQZgAAAAEAACAAAACWV/cbDI+ZaDM2omw1XAIptalAT11waaFIZXkvjHkz5wAAAAAOgAAAAAIAACAAAACmlhYMA+R4rqUgXwunNjS2U2ko9IvPQp5NOOnrkQdgPxAAAABcSpEm/ewPCodvJnXBsQ2oQAAAANmArPS6o2/XnsPOKG62CBqqkz8fo7Ze8mAc9npWc/HZg0FM06stN1ULUYjofMLOqVH672eqG3kHWx0HI8E+HAM=" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>