<h1>Transactions</h1>

@(Html.Kendo()
    .Grid<TransactionAdminListModel>()
    .Name("Transactions")
    .Columns(columns =>
    {
        columns.Bound(t => t.Date).Title("Transaction date").Format("{0:dd/MM/yyyy h:mm:ss tt}");
        columns.Bound(t => t.Type);
        columns.Bound(t => t.BaseCurrencyAmount).Format("{0:c}").Title("Amount");
        columns.Bound(t => t.BaseCurrency).Title("Ccy");
        columns.Bound(t => t.Description);
        columns.Bound(t => t.UserName).Title("User");
    })
    .HtmlAttributes(new { @class = "bg-dark text-warning" })
    .Pageable(page => page.PageSizes(new[] { 5, 10, 15 }))
    .Filterable(f => f.Mode(GridFilterMode.Menu))
    .Groupable()
    .Sortable()
    .ToolBar(tool =>
    {
        tool.Pdf().Text("Create PDF");
    })
    .DataSource(data =>
    {
        data
            .Ajax()
            .Read(read =>
            {
                read.Action("ReadTransactions", "Transactions");
            });
    })
    )