
@{
    ViewData["Title"] = "Chat";
}

<div id="chat" style="width: 400px; height: 400px"></div>

@section Scripts{
    <script>
        let username = '@this.User.Identity.Name'
    </script>
    <script src="~/js/chat.js"></script>
}