@model ValidationModalViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    if (!ViewBag.IsValid)
    {
        <partial name="_ValidationModal" model="@Model" />
    }
}

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="inner">
                <a href="/game/gameofcodes"><img class="card-img-top" src="~/images/games/game-of-codes.jpg" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Game of Codes</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="inner">
                <a href="/game/tuttifrutti"><img class="card-img-top" src="~/images/games/tutti-frutti.jpg" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tutti Fruitti</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="inner">
                <a href="/game/treasuresofegypt"><img class="card-img-top" src="~/images/games/treasures-of-egypt.jpg" alt="Card image cap"></a>
            </div>

            <div class="card-body">
                <h5 class="card-title">Treasures of Egypt</h5>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {
            $('#homeModal').modal({ backdrop: 'static', keyboard: false });
        });
    </script>

    <script>
        $('.alert').alert();
    </script>
}