@{
    ViewData["Title"] = "All";
}

<h2>@ViewData["Title"]</h2>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <label class="bs-switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>



@(Html.Kendo()
            .Grid<UserListViewModel>()
            .Name("Users")
            .Columns(columns =>
            {
                columns.Bound(u => u.FirstName);
                columns.Bound(u => u.LastName);
                columns.Bound(u => u.Email);
                columns.Template("<button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\".bd-example-modal-sm\">Edit</button>");
            })
            .HtmlAttributes(new { @class = "bg-dark text-warning" })
            .Pageable(page => page.PageSizes(new[] { 5, 10, 15 }))
            .Filterable(f => f.Mode(GridFilterMode.Menu))
            .Groupable()
            .Sortable()
            .ToolBar(tool =>
            {
                tool.Pdf().Text("Create PDF");
            })
            .DataSource(data =>
            {
                data
                    .Ajax()
                    .Read(read =>
                    {
                        read.Action("ReadUsers", "Users", new { Area = "Admin" });
                    });
            })
)