/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#games-container{
    padding-top: 70px
}

#balance-button {
    margin: 0;
}

/*#diaplay-balance {
    padding: 0px;
    margin: 0px;
}*/

#logout-button {
    padding: 9px;
}

/* Bootstrap card zoom effect */
.inner {
    overflow: hidden;
}

    .inner img {
        transition: all 1.5s ease;
        /*height: 20rem;
        height: 20rem;*/
    }

    .inner:hover img {
        transform: scale(2);
    }

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

#invalid-stake-alert {
    display: none;
}